<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <meta http-equiv="origin-trial" content="AigCTQDGDMUykuP40PzaCQhL2WFGfQ5gW7xjyWqhWESGvdfRKje/wc2X1nj6RXvEOQqOvdmHwRM1GAuAJh0ztQAAAABkeyJvcmlnaW4iOiJodHRwczovL3BsYXkua2l3cmlvdXMuY29tOjQ0MyIsImZlYXR1cmUiOiJTZXJpYWwiLCJleHBpcnkiOjE2MTc3NTM1OTksImlzU3ViZG9tYWluIjp0cnVlfQ==">
    <link rel="shortcut icon" href="static/favicon.ico">
    <link rel="manifest" href="static/manifest.json">
    <title>
        <%= htmlWebpackPlugin.options.title %>
    </title>
    <% if (htmlWebpackPlugin.options.sentryConfig) { %>
        <!-- Sentry error logging to help with finding bugs -->
        <script src="https://cdn.ravenjs.com/3.22.1/raven.min.js" crossorigin="anonymous"></script>
        <script>
            Raven.config(<%= htmlWebpackPlugin.options.sentryConfig %>).install();
        </script>
        <!-- /Sentry -->
    <% } %>
</head>
<body>
</body>
</html>
